@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins',sans-serif;
    width: 100%;
    height: 100vh;
    background: #121212;
    /* display: grid;
    place-items: center; */
    display: flex;
}

/* {
    width: 85%;
    height: 95%;
    border: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
} */

 .menu_side, .song_side{
    width: 25%;
    height: 90%;
    /* border: 1px solid #fff; */
    background-color: #506a845f;
    box-shadow: 5px 0px 2px #090f1f;
    color: white;
    overflow: auto;
    scroll-behavior: smooth;
}
.menu_side::-webkit-scrollbar{
    display: none;
}
.song_side::-webkit-scrollbar{
    display: none;
}

 .song_side{
   width: 75%;
   background-color: #0e1828;
}

 .master_play{
    width: 100vw;
    height: 10%;
    /* border: 1px solid #fff; */
    background-color: #606a845f;
    box-shadow: 0px 3px 8px #506a845f;;
}

 .menu_side h1{
    font-size: 30px;
    margin: 15px 0px 0px 20px;
    font-weight: 700;
}
 .menu_side .play_list{
   margin: 40px 0px 0px 20px;
}
 .menu_side .play_list h4{
   font-size: 14px;
   font-weight: 400;
   /* padding-left: px; */
   padding-bottom: 10px;
   color: #4c5262;
   cursor: pointer;
   display: flex;
   align-items: center;
   transition: .4s linear;
}

 .menu_side .play_list h4:hover{
   color: #fff;
}

 .menu_side .play_list h4 span{
   position: relative;
   margin-right: 35px;
}

 .menu_side .play_list h4 span::before{
   content: '';
   position: absolute;
   height: 4px;
   width: 4px;
   border: 2px solid #4c5262;
   border-radius: 50px;
   top: -4px;
   transition: .3s linear;
   
}
 .menu_side .play_list h4:hover span::before{
   border: 2px solid #fff;

}
 .menu_side .play_list h4 .bi{
   display: none;

}
 .menu_side .play_list .active{
   color: #36e2ec;

}
 .menu_side .play_list .active span{
    display: none;

}
 .menu_side .play_list .active .bi{
    display: flex;
    margin-right: 20px;

}
 .menu_side .menusong{
    width: 100%;
    height: 400px;
    /* border: 1px solid #fff; */
    margin-top: 40px;
    overflow: auto;

}
 .menu_side .menusong::-webkit-scrollbar{
    display: none;
}

 .menu_side .menusong li{
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}
 .menu_side .menusong li:hover{
    background: rgb(105, 105, 105 ,.1);
}

 .menu_side .menusong li span{
    font-size: 12px;
    font-weight: 500;
    color: #4c5262;
}
 .menu_side .menusong li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}

 .menu_side .menusong li h5{
    font-size: 12px;
    margin-left: 15px;
    width: 170px;
    /* border: 1px solid white; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
}

 .menu_side .menusong li h5 .subtitle{
    font-size: 9px;
    color: #4c5262;
}
 .menu_side .menusong li .bi{
    position: absolute;
    right: 15px;    
}

 .master_play{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    bottom: 0;
    position: fixed;
}

 .master_play .wave{
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    align-items: 10px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}
 .master_play .wave .wave1{
    width: 3px;
    height: 10px;
    background-color: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: unset;
}
 .master_play .wave .wave1:nth-child(2){
    height: 13px;
    margin-right: 3.5px;
    animation-delay: .4s;
}
 .master_play .wave .wave1:nth-child(3){
    height: 8px;
    animation-delay: .8s;
}

/* javascript classes */

 .master_play .active1 .wave1{
    animation: wave .5s linear infinite;
}
 .master_play .active1 .wave1:nth-child(2){
    
    animation-delay: .4s;
}
 .master_play .active1 .wave1:nth-child(3){
   
    animation-delay: .8s;
}

@keyframes wave{
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}

 .master_play img{
    width: 35px;
    height: 35px;
}
 .master_play h5{
    width: 7vw;
    /* border: 1px solid white; */
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 400;
}
 .master_play h5 .subtitle{
    font-size: 11px;
    color: #4c5262;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

 .master_play .icon{
    color: white;
    font-size: 20px;
    margin: 0px 20px 0px 40px;
    outline: none;
    display: flex;
    align-items: center;
}
 .master_play .icon .bi{
    cursor: pointer;
    outline: none;
}
 .master_play .icon .shuffle{
    font-size: 17px;
    margin-right: 10px;
    width: 17.5px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

 .master_play .icon #download_music{
    font-size: 20px;
    color: #4c5262;
    margin-left: 10px;
}
 .master_play .icon #download_music:hover{
    color: #fff;
    transition: .5s linear;
}

 .master_play .icon #download_music {
    font-size: 20px;
    margin-left: 10px;

}

 .master_play .icon .bi:nth-child(2) {
    border: 1px solid rgba(214, 207, 207, 0.1);
    border-radius: 50%;
    padding: 1px 5px 0px 6px;
    margin: 0px 4px;
}

 .master_play span{
    color: white;
    width: 33px;
    /* border: 1px solid white; */
    font-size: 11px;
    font-weight: 400;
}

 .master_play #currentstart{
    margin: 0px 0px 0px 20px;
}

  /* styling to the master play bar  */

 .master_play .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background-color: rgb(255 255 255 / 10%);
    margin: 0px 15px 0px 10px;
}

 .master_play .bar .bar2{
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
 .master_play .bar .dot{
    position: absolute;
    background: #36e2ec;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}
 .master_play .bar .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 4px #36e2ec;
}

 .master_play .bar input{
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 999999999999999999999999999999999999;
    /* transition: 3s linear; */
    opacity: 0;
}

 .master_play .vol{
    width: 100px;
    position: relative;
    height: 2px;
    background: rgb(255 255 255 / 10%);
    margin-left: 50px;
}
 .master_play .vol .bi{
    position: absolute;
    color: white;
    font-size: 25px;
    top: -17px;
    left: -30px;
}
 .master_play .vol input{
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 999999999999999999999999999999;
    opacity: 0;
}

 .master_play .vol .vol_bar{
    position: absolute;
    background: #36e2ec;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

 .master_play .vol .dot1{
    position: absolute;
    background: #36e2ec;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 100%;
    top: -1.5px;
    transition: 1s linear;
}

 .master_play .vol .dot1::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 4px #36e2ec;
}


/* background image */
/*  .song_side::before{
    content: '';
    position :absolute;
    width: 80%;
    height: 300px;
    background: url(bg2.jpg);
} */

 .song_side nav{
    width: 90%;
    height: 10%;
    /* border: 1px solid white; */
    margin: auto;
    display: flex;
    align-items:center ;
    justify-content: space-between;
}

 .song_side nav ul{
    display: flex;
    
}

 .song_side nav ul li{
    list-style: none;
    position: relative;
    font-size: 13px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}


 .song_side nav ul li:hover{
    color: #fff;
}

 .song_side nav ul li:nth-child(1){
    color: white;
}

 .song_side nav ul li span{
    position: absolute;
    width: 100%;
    height: 2.5px;
    background-color: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}

 .song_side nav .search{
    position: relative;
    width: 35vw;
    padding: 1px 10px ;
    border-radius: 20px;
    /* border: 1px solid white; */
    color: gray;
}

 .song_side nav .search::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(184, 184, 184, .1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: -1;
}
 .song_side nav .search .search_result{
    /* border: 1px solid white; */
    width: 100%;
    height: 200px;
    position: absolute;
    border-radius: 10px;
    margin-top: 10px;
    overflow: auto;
    
}
 .song_side nav .search .search_result::-webkit-scrollbar{
    display: none;
}

.song_side nav .search .search_result .card{
    width: 100%;
    min-height: 45px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(184, 184, 184, .1);
    margin-bottom: 5px;
    text-decoration: none;
}

.song_side nav .search .search_result img{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin-left: 5px;
}
.song_side nav .search .search_result .card .cont{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin-left: 10px;
    left: 0;
    color: white;
    font-size: 13px;
    /* border: 1px solid white; */
    font-weight: 500;
}
.song_side nav .search .search_result .card .cont .subtitle{
    font-size: 10px;
    color: #8f94a8;
    font-weight: 400;
}

 .song_side nav .search .bi{
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}
 .song_side nav .search input{
   background: none;
   border: none;
   outline: none;
   padding: 0px 10px;
   color: white;
   font-size: 12px;
}


 .song_side .containter{
    width: 90%;
    height: 30%;
    /* border: 1px solid white; */
    margin: auto;
    padding-top: 20px;
}

 .song_side .containter h1{
    font-size: 30px;
    font-weight: 400;
    margin: 5px;
    /* color: #4c5262; */
}

 .song_side .containter .buttons{
    margin-top: 15px;
}
 .song_side .containter .buttons button{
    width: 100px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 25px;
    background:  #21b6be;
    ;
    cursor: pointer;
    color: #ffffff;
    transition: .3s linear;
}
 .song_side .containter .buttons button:hover{
    background: none;
    color: #21b6be;
}

/*  .song_side .containter .buttons button:nth-child(2){
    background: none;
    color: #36e2ec;
}
 .song_side .containter .buttons button:nth-child(2):hover{
    background: #36e2ec;
    color: #fff;
} */

 .song_side .popular_song{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    /* border: 1px solid white; */
}

 .song_side .popular_song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .song_side .popular_song .h4 .bi{
    color: #9296a2;
    cursor: pointer;
    transition: .3s linear;
}
 .song_side .popular_song .h4 .bi:hover{
    color: #fff
}

 .song_side .popular_song  .pop_song{
    width: 100%;
    height: 148px;
    margin-top: 20px;
    display: flex;
    /* border: 1px solid white; */
    overflow: auto;
    scroll-behavior: smooth;
}
 .song_side .popular_song  .pop_song::-webkit-scrollbar{
    display: none;
}

 .song_side .popular_song  .pop_song li{
    min-width: 100px;
    height: 100%;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
}
 .song_side .popular_song  .pop_song li:hover{
    background: rgb(105, 105, 170, .1);
    
}

 .song_side .popular_song  .pop_song li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

 .song_side .popular_song  .pop_song li .img_play img{   
    width: 100%;
    height: 100%; 
}

 .song_side .popular_song  .pop_song li .img_play .bi{   
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
}
 .song_side .popular_song  .pop_song li .img_play .bi:hover{   
    opacity: 1;
}
 .song_side .popular_song  .pop_song li h5{   
     padding: 5px 0px 0px 5px;
     line-height: 15px;
     font-size: 10px;
     font-weight: 400;
     width: 100px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
}
 .song_side .popular_song  .pop_song li h5 .subtitle{   
     font-size: 9px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     color: #5a5f6c;
}

 .song_side .popular_artists{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 25px;
    /* position: relative; */
    /* border: 1px solid white; */
}



 .song_side .popular_artists .item{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    /* border: 1px solid white; */
    overflow: scroll;
}

 .song_side .popular_artists .item::-webkit-scrollbar{
    display: none;
}

 .song_side .popular_artists .item li{
    list-style-type: none;
    position: relative;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

 .song_side .popular_artists .item li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}
.song_side .popular_artists .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .song_side .popular_artists .h4  .bi{
    color: #9296a2;
    cursor: pointer;
    transition: .3s linear;
}
 .song_side .popular_artists .h4  .bi:hover{
    color: #fff
}